body {
  text-align: center;
  font-family: sans-serif;
  background-color: grey;
}
h1 {
  font-size: 50px;
}
h2 {
  font-size: 25px;
}
#img-caption {
  font-size: 18px;
}
p {
  font-size: 15px;
}
#quote {
  font-size: 14px;
  font-style: italic;
}
li {
  list-style: none;
  font-style: italic;
  line-height: 30px;
}
span {
  font-weight: bold;
  font-style: normal;
}

#tribute-link {
  color: LightSkyBlue;
}

#img-div {
  background-color: white;
  padding: 50px 30px 30px 30px;
}

img {
  max-width: 100%;
  height: auto;
  position: relative;
  display: block;
  margin: auto;
}
